<div class="row sign-up">
  <fieldset>
    <legend class="legend">Message</legend>
    <%= form_for [@sitter, @message], url: sitter_messages_path(@sitter) do |f| %>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <%= f.label :subject, class: "center inline" %>
            </div>
            <div class="small-9 columns">
              <%= f.text_area :subject %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <%= f.label :message, class: "center inline" %>
            </div>
            <div class="small-9 columns">
              <%= f.text_area :message %>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Send", class: "button postfix" %>
      </div>
    <% end %>
  </fieldset>
</div>
