<div class="row sign-up">
  <fieldset>
    <legend class="legend">Forgot your password?</legend>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-3 columns">
              <%= f.label :email, class: "center inline" %>
            </div>
            <div class="small-9 columns">
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Submit", class: "button postfix" %>
      </div>
    <% end %>
  </fieldset>
</div>
