<div class="row map">
  <div class="container gmap">
    <div class="small-12 large-12 columns">
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
<div class="row all">
  <div class="container sitter">
  <% @sitters.each do |sitter| %>
    <div class="large-4 columns" id="sitter-profile-box">
      <div class="row price">
        <div class="small-12 columns">
          <%= "$" + sitter.price %>
        </div>
      </div>
      <div class="row headline">
        <div class="small-12 columns">
          <%= sitter.headline %>
        </div>
      </div>
      <div class="row sitter-name">
        <div class="small-12 columns">
          <%= link_to "#{sitter.first_name} #{sitter.last_name[0]}.", sitter_path(sitter) %><%= " - " %><%= sitter.city %>, <%= sitter.state %>
          <% if sitter.reviews_received.count >= 1 %><%= " - " %>
            <% if sitter.reviews_received.count == 1 %>
              <%= "1 Review" %>
            <% else %>
              <%= sitter.reviews_received.count.to_s + " Reviews" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= image_tag sitter.image_url.to_s %>
    </div>
  <% end %>
  </div>
</div>
<script type="text/javascript">
  var centerLocation = <%= @location.to_json.html_safe %>
  var sitterLocation = <%= @sitters.to_json.html_safe %>
</script>
