<div class="small-12 large-12 columns" id="reviews-column">
  <div class="row rating">
    <% if @reviews.count >= 1 %>
      <%= "1 Review" if @reviews.count == 1 %>
      <%= @reviews.count.to_s + " Reviews" %>
    <% end %>
    <% if current_user %>
    <%= link_to "Add a review", "#", id: "reviewForm" %>
    <% end %>
  </div>
  <div class="panel reviews">
  <% @reviews.each do |review| %>
    <div class="sitter-reviews">
      <div class="row review">
        <div class="small-6 large-3 columns">
          <%= image_tag "DMProfile.jpg" %>
            <div class="row-name">
              <%= review.name %>
            </div>
        </div>
        <div class="small-6 large-9 columns">
          <div class="row headline" id="review-rating">
            <% if review.editable_by?(current_user) %>
              <div class="row-2 ed">
                <div data-tooltip aria-haspopup="true" class="has-tip" title="Edit"><%= link_to edit_sitter_review_path(@sitter, review) do %>
                  <i class="fi-pencil"></i>
                <% end %></div>
                <div data-tooltip aria-haspopup="true" class="has-tip" title="Delete"><%= link_to sitter_review_path(@sitter, review), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fi-x"></i>
                <% end %></div>
              </div>
            <% end %>
            <%= review.rating %>
          </div>
          <div class="row headline" id="review-desc">
            <%= review.body %>
          </div>
          <div class="row date" id="review-date">
            <%= review.created_at.strftime("%d %b. %Y") %>
          </div>
          <hr class="hr">
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

