<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="row submit-review">
    <%= form_for [@sitter, @review], url: sitter_reviews_path(@sitter) do |f| %>
      <%= f.label :rating %>
      <% Review::RATING.each do |rating| %>
        <%= f.radio_button(:rating, rating) %>
        <%= f.label("rating_#{rating}", rating) %>
      <% end %>

      <%= f.text_area :body, placeholder: "Write a review (minimum 40 characters)" %>

      <%= f.submit "Add Review", class: "button postfix" %>
    <% end %>
  </div>
</div>
