<div class="errors">
  <%- @review.errors.full_messages.each do |error| -%>
    <ul>
      <li><%= error %></li>
    </ul>
  <%- end -%>
</div>

<%= form_for [@sitter, @review], url: sitter_review_path(@sitter, @review) do |f| %>
  <%= f.label :rating %>
  <%= f.select :rating, Review::RATING, include_blank: "Please Rate" %>

  <%= f.label :body, "Review" %>
  <%= f.text_area :body %>

  <%= f.submit "Edit Review" %>
<% end %>
