<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dogstay</title>

  <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <ul class="inline-list name">
        <li><%= image_tag("dog78.png") %></li>
        <li><h1><a href="/">dogstay</a></h1><li>
      </ul>
    </ul>
    <div class="top-nav">
      <ul class="right">
        <%- if current_user -%>
          <%= image_tag current_user.image.url, size: "30x30" %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%- else -%>
          <%= link_to 'Sign Up', new_user_registration_path %>
          <%= link_to 'Log In', new_user_session_path %>
        <%- end -%>
      </ul>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
