<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <title>Dogstay</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8Yu5RmOzfLGJxdI7BhkMGTLUDblJt1qY"></script>
  <script type="text/javascript" src="../assets/javascripts/gmaps.js"></script>
</head>
<body>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">DOGSTAY</a></h1>
      </li>
    </ul>

      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'SIGN UP', new_user_registration_path %></li>
          <li><%= link_to 'LOG IN', new_user_session_path %></li>
        <%- end -%>
      </ul>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= content_for :extra_footer do %>
    <script type="text/javascript">
      var widget = new Something.Widget('foo');
    </script>
  <% end %>
</body>
</html>
