<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dogstay</title>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="home-page">
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <div class="top-nav">
    <ul class="right">
      <%- if current_user -%>
        <%= link_to 'Edit Profile', edit_user_registration_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <%- else -%>
        <%= link_to 'Sign Up', new_user_registration_path %>
        <%= link_to 'Log In', new_user_session_path %>
      <%- end -%>
    </ul>
  </div>
  <p>Find your sitter</p>
  <div class="row search">
    <div class="box">
      <div class="container-4">
        <%= form_tag sitters_path, method: :get do %>
          <%= text_field_tag(
            :location,
            nil,
            placeholder: "Enter your city",
            id: "location"
          )%>
          <%= hidden_field_tag 'longitude' %>
          <%= hidden_field_tag 'latitude' %>
          <%= button_to sitters_path, class: "icon" do %>
            <i class="fa fa-search"></i>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= content_for :extra_footer do %>
    <script type="text/javascript">
      var widget = new Something.Widget('foo');
    </script>
  <% end %>
</body>
</html>



